@page "/"
@inject NavigationManager Navigation
@using UI.Models

<PageTitle>@Localizer["Title"]</PageTitle>
<MudStack Justify="Justify.Center" AlignItems="AlignItems.Center">
    <MudPaper Class="pa-2 ma-2 mt-5 shadow" Elevation="30" Style="width:80%;">
        <MudStack>
            <MudCarousel TData="object" Style="height:525px;" AutoCycleTime="TimeSpan.FromSeconds(7)" ShowArrows="true" ShowBullets="true" AutoCycle="true" EnableSwipeGesture="true">
                @foreach (var item in carouselContentList)
                {
                    <MudCarouselItem Transition="Transition.Slide" Color="@Color.Primary" Style="border-radius:5px;">
                        <MudCard Class=" pa-2 mb-5 ma-1">
                            <MudCardMedia Image="@item.ImageUrl" Class="ma-2" />
                            <MudCardContent Class="mb-5">
                                <MudText>@item.Header</MudText>
                                <MudText Typo="Typo.body2">@item.Description</MudText>
                            </MudCardContent>
                            @if (item.IsActionContent)
                            {
                                <MudCardActions>
                                    <MudButton Variant="Variant.Text" Color="Color.Tertiary" Size="Size.Small" OnClick="@( async () => await OpenLink(item.ActionUrl))">@item.ActionText</MudButton>
                                </MudCardActions>
                            }
                        </MudCard> 
                    </MudCarouselItem>
                }
            </MudCarousel>
        </MudStack>
    </MudPaper>
        <MudStack Style="width:100%;" Justify="Justify.Center" AlignItems="AlignItems.Center">
            <MudPaper Class="pa-6 ma-3 shadow" Style="width:90%;">
                <h3>@Localizer["Motivation"]</h3>
                <MudDivider Class="my-3" Style="width:25%;" />
                <MudText Style="text-indent:30px;" Class="ma-5">
                    <img src="/Images/notes.jpg" width="30%;" height="30%;" style="float:right;margin-left:15px;border-radius:15px;"/>
                    @Localizer["motivation_1st"]
                </MudText>
                <MudSpacer/>
            <MudText Style="text-indent:30px;" Class="ma-5">
                    @Localizer["motivation_2nd"]
                </MudText>
            </MudPaper>

            <MudPaper Class="pa-6 ma-3 shadow" Style="width:90%;">
            <h3>@Localizer["Architecture"]</h3>
                <MudDivider Class="my-3" Style="width:30%;"/>
                <MudText Style="text-indent:30px;">
                    <img src="/Images/microservices.jpg" width="15%;" height="15%;" style="float:right;margin-left:15px;border-radius:15px;" />
                    @Localizer["architecture_1st"]
                </MudText>
                <MudText Style="text-indent:30px;">
                    @Localizer["architecture_2nd"]
                </MudText>

            </MudPaper>

            <MudPaper Class="pa-6 ma-3 shadow" Style="width:90%;">
                <h3>@Localizer["ToolsFrameworks"]</h3>
                <MudDivider Class="my-3" Style="width:40%;"/>
                <MudList T="string" >
                <MudListItem>Visual Studio</MudListItem>
                <MudListItem>Docker Desctop</MudListItem>
                    <MudListItem> Sql Server Management Studio</MudListItem>
                    <MudListItem> Postman</MudListItem>
                </MudList>
                <MudList T="string">
                    <MudListItem> Mudblazor</MudListItem>
                    <MudListItem>Entity Framework</MudListItem>
                </MudList>
                <MudList T="string">
                    <MudListItem>CQRS</MudListItem>
                    <MudListItem>Dapper</MudListItem>
                </MudList>
            </MudPaper>
        </MudStack>
</MudStack>

@code
{
    [Inject] IStringLocalizer<Index> Localizer { get; set; }
    List<CarouselContentModel> carouselContentList = new List<CarouselContentModel>();

    protected override async Task OnInitializedAsync()
    {
        await InitCarousel();
    }

    private async Task InitCarousel()
    {

        carouselContentList.Add(new CarouselContentModel
            {
                ImageUrl = "Images/CarouselImages/tree.jpg",
                Header = Localizer["Item1Header"],
                Description = Localizer["Item1Description"],
                IsActionContent = false
            });
        carouselContentList.Add(new CarouselContentModel
            {
                ImageUrl = "Images/CarouselImages/mountains.jpg",
                Header = Localizer["Item2Header"],
                Description = Localizer["Item2Description"],
                IsActionContent = true,
                ActionText = Localizer["Item2ActionText"],
                ActionUrl = "https://mudblazor.com/docs/overview"
            });
        carouselContentList.Add(new CarouselContentModel
            {
                ImageUrl = "Images/CarouselImages/chameleon.jpg",
                Header = Localizer["Item3Header"],
                Description = Localizer["Item3Description"],
                IsActionContent = true,
                ActionText = Localizer["Item3ActionText"],
                ActionUrl = "https://stooq.pl/q/?s=xaupln"
            });
        carouselContentList.Add(new CarouselContentModel
            {
                ImageUrl = "Images/CarouselImages/window.jpg",
                Header = Localizer["Item4Header"],
                Description = Localizer["Item4Description"],
                IsActionContent = false
            });
    }

    private async Task OpenLink(string url) => Navigation.NavigateTo(url, true);
    
}