@using UI.Models
@inject IStringLocalizer<DateRangeTextComponent> Localizer

<MudText Class="ma-2 pa-2"> 
    <span>@Localizer["Every"] @Interval @Frequency</span>
    <br />
    <span>@Localizer["Starting"] @StartDate.FormatDMY()</span>
    <br />
    <span>@Localizer["Ending"] @EndDate.FormatDMY()</span>
</MudText>

@code{
    [Parameter] public FrequencyEnum Frequency{ get; set; }
    [Parameter] public int Interval { get; set; }   
    [Parameter] public DateTime? StartDate { get; set; }
    [Parameter] public DateTime? EndDate { get; set; }
}