<MudStack AlignItems="AlignItems.Center" Justify="Justify.Center">
    <MudStack Row="true">
        <MudText> Total saves: @TotalSavesProp</MudText>
        <MudText> Total expenses: @TotalExpensesProp</MudText>
    </MudStack>
    <MudStack Row="true">
        <MudText> Total saves last 3 months: @Total3MonthsSavesProp</MudText>
        <MudText> Total expenses last 3 months: @Total3MonthsExpensesProp </MudText>
    </MudStack>
    <MudStack Row="true">
        <MudText> Average saves: @AverageSavesProp</MudText>
        <MudText> Average expenses: @AverageExpensesProp </MudText>
    </MudStack>    
</MudStack>
<MudStack>
    <!-- category distribution -->
    <MudChart ChartType="ChartType.Pie" InputData="@CategoriesDistribution.ToArray()" 
              InputLabels="@CategoriesDistribution.GetPropertyNames()"
              Width="200" Height="200" />
    
    
    <!-- category distribution every month-->
    <MudBlazor.Charts.Bar></MudBlazor.Charts.Bar>

</MudStack>
<MudStack>
    <h1>Trends {last month} vs {month before last month}</h1> <!-- lasg month vs 3 month before? TO DO::-->
    <h3>Saves: +3%</h3>
    <h3>Fees: -10%</h3>
    <h3>Entertainment: +15%</h3>
</MudStack>