<MudStack AlignItems="AlignItems.Center" Justify="Justify.Center">
    <MudStack Row="true">
        <MudText> Total saves: @TotalSaves</MudText>
        <MudText> Total expenses: @TotalExpenses</MudText>
    </MudStack>
    <MudStack Row="true">
        <MudText> Total saves last 3 months: @Total3MonthsSaves</MudText>
        <MudText> Total expenses last 3 months: @Total3MonthsExpenses </MudText>
    </MudStack>
    <MudStack Row="true">
        <MudText> Average saves: @AverageSaves</MudText>
        <MudText> Average expenses: @AverageExpenses </MudText>
    </MudStack>    
</MudStack>
<MudStack Row="true" Spacing="10" AlignItems="AlignItems.Center" Justify="Justify.Center">
    <!-- category distribution -->
    <MudChart ChartType="ChartType.Pie" InputData="@CategoriesDistribution.ToArray()" 
              InputLabels="@CategoriesDistribution.GetPropertyNames()"
              Width="200" Height="200" />
    
    
    <!-- category distribution every month-->
    <MudChart ChartType="ChartType.StackedBar" ChartSeries="@Series" XAxisLabels="@XaxisLabels"
              Width="100%" Height="250" />

</MudStack>
<MudStack>
    <h1>Trends {last month} vs {month before last month}</h1> <!-- lasg month vs 3 month before? TO DO::-->
    <h3>Saves: +3%</h3>
    <h3>Fees: -10%</h3>
    <h3>Entertainment: +15%</h3>
</MudStack>