<MudDialog>
    <DialogContent>
        <MudTextField Label="Name" @bind-Value="DialogModel.Name" Class="ma-3 pa-3"/>
        <MudTextField Label="Description" @bind-Value="DialogModel.Description" Class="ma-3 pa-3" />

        <MudToggleIconButton @bind-Toggled="@DialogModel.IncomeType"
                             Icon="@Icons.Material.Filled.RemoveCircleOutline" Color="@Color.Error" title=@(DialogModel.IncomeType ? "Income" : "Expense")
                             ToggledIcon="@Icons.Material.Filled.AddCircleOutline" ToggledColor="@Color.Success"
                             Class="ma-3 pa-3 " />
        <span>@(DialogModel.IncomeType ? "Income" : "Expense")</span>
        <MudDatePicker Label="Calendar" @bind-Date="DialogModel.Date" ShowToolbar="false" Class="ma-3 pa-3" />
                         
        <MudTextField T="double" Label="Price" @bind-Value="DialogModel.Price" Class="ma-3 pa-3"></MudTextField>

    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Submit" Variant="Variant.Filled" Color="Color.Primary">Submit</MudButton>
        <MudButton OnClick="Cancel" Variant="Variant.Filled" Color="Color.Secondary">Cancel</MudButton>
    </DialogActions>
</MudDialog>